<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.netdev.monitor.mapper.BaseInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xy.netdev.monitor.entity.BaseInfo">
        <id column="DEV_NO" property="devNo" />
        <result column="DEV_TYPE" property="devType" />
        <result column="DEV_NAME" property="devName" />
        <result column="DEV_STATUS" property="devStatus" />
        <result column="DEV_CORP" property="devCorp" />
        <result column="DEV_VER" property="devVer" />
        <result column="DEV_IP_ADDR" property="devIpAddr" />
        <result column="DEV_LOCAL_ADDR" property="devLocalAddr" />
        <result column="DEV_PORT" property="devPort" />
        <result column="DEV_PARENT_NO" property="devParentNo" />
        <result column="DEV_INTERVAL_TIME" property="devIntervalTime" />
        <result column="DEV_NET_PTCL" property="devNetPtcl" />
        <result column="DEV_DEPLOY_TYPE" property="devDeployType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        DEV_NO, DEV_TYPE, DEV_NAME, DEV_STATUS, DEV_CORP, DEV_VER, DEV_IP_ADDR, DEV_LOCAL_ADDR, DEV_PORT, DEV_PARENT_NO, DEV_INTERVAL_TIME,DEV_NET_PTCL,DEV_DEPLOY_TYPE
    </sql>


</mapper>
