<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xy.netdev.monitor.mapper.OperLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xy.netdev.monitor.entity.OperLog">
        <id column="LOG_ID" property="logId" />
        <result column="DEV_TYPE" property="devType" />
        <result column="DEV_NO" property="devNo" />
        <result column="LOG_TIME" property="logTime" />
        <result column="LOG_ACCESS_TYPE" property="logAccessType" />
        <result column="LOG_OPER_TYPE" property="logOperType" />
        <result column="LOG_OPER_OBJ" property="logOperObj" />
        <result column="LOG_OPER_OBJ_NAME" property="logOperObjName" />
        <result column="LOG_CMD_MARK" property="logCmdMark" />
        <result column="LOG_OPER_CONTENT" property="logOperContent" />
        <result column="ORGIN_DATA" property="orignData" />
        <result column="LOG_USER_ID" property="logUserId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        LOG_ID, DEV_TYPE, DEV_NO, LOG_TIME, LOG_ACCESS_TYPE, LOG_OPER_TYPE, LOG_OPER_OBJ,LOG_OPER_OBJ_NAME,LOG_CMD_MARK, LOG_OPER_CONTENT,ORGIN_DATA, LOG_USER_ID
    </sql>
    
    <update id="updateOperId">
        ALTER  TABLE  NTDV_OPER_LOG  DROP `LOG_ID`;
        ALTER  TABLE  NTDV_OPER_LOG ADD LOG_ID INT(11) PRIMARY KEY NOT NULL AUTO_INCREMENT FIRST;
    </update>


</mapper>
